.navigation {
  display: none;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
}

.navigation_opened {
  display: block;
}

.navigation__container {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 520px;
  height: 100vh;
  background-color: #ffffff;
}

.navigation__close-icon {
  border: 0;
  padding: 0;
  margin: 22px 22px 0 0;
  width: 22px;
  height: 22px;
  align-self: flex-end;
  background-image: url("../../images/icon__cross.svg");
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.navigation__list-container {
  padding-top: 105px;
  padding-bottom: 90px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.navigation__item {
  margin-bottom: 20px;
  line-height: 30px;
}

.navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

.navigation__link_border {
  border-bottom: 2px solid #000000;
}

@media screen and (max-width: 576px) {
  .navigation__container {
    width: 100%;
  }

  .navigation__close-icon {
    margin: 13px 13px 0 0;
  }

  .navigation__list-container {
    padding-top: 99px;
    padding-bottom: 46px;
  }
}



